<html>

<head>
    <meta charset="UTF-8">
    <title>传智音乐</title>
    {{include './partials/head_link'}}
    <style>
        #pwd-level div{
            height: 20px;
            width: 40px;
            display: inline-block;
            float: left;
        }
        #pwd-level span{
            display: inline-block;
            float: left;
        }
    </style>
</head>

<body>
    {{include './partials/header'}}
    <link href="/public/css/register.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
    </script>
    <div class="aw-register-box">
        <div class="mod-head">
            <a href="/"></a>
            <h1>注册新用户</h1>
        </div>
        <div class="mod-body">
            <form action="" class="aw-register-form" method="post" id="frm">
                <ul>
                    <li class="alert alert-danger hide error_message text-left">
                        <i class="icon icon-delete"></i> <em></em>
                    </li>
                    <li>
                        <input class="aw-register-name form-control" type="text" name="username" placeholder="用户名" value="" id='username' />
                    </li>
                    <li>
                        <input class="aw-register-email form-control" type="text" placeholder="邮箱" name="email" id='email' value="" />
                        <div id='email-check'></div>
                    </li>
                    <li>
                        <input class="aw-register-pwd form-control" type="password" name="password" placeholder="密码" id='pwd'/>
                    </li>
                    <div id='pwd-level'>
                        <span>密码强度</span>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <hr/>
                    <li class="aw-register-verify">
                        <img class="pull-right" width="120" src="/getCaptchaPng" onclick="this.src='/getCaptchaPng?'+(+new Date())">
                        <input type="text" class="form-control" name="vcode" placeholder="验证码" />
                    </li>
                    <li class="last">
                        <label>
                            <input type="checkbox" checked="checked" value="agree" /> 我同意</label> <a href="javascript:;" class="aw-agreement-btn">用户协议</a>
                        <a href="/login" class="pull-right">已有账号?</a>
                        <div class="aw-regiter-agreement hide">
                            <div class="aw-register-agreement-txt" id="register_agreement"></div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <button type="submit" class="btn btn-large btn-blue btn-block">
                            注册
                        </button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    {{include './partials/footer'}}
    <script>
        //密码强度验证
        var check1=false;
        var check2=false;
        var check3=false;
        $('#pwd').keyup(function(){
            check1=false;
            var pwd=$(this).val();
            if(pwd.length<6) return;
            var pwdLevel=0;
            var reg1=/\d/;
            var reg2=/[a-zA-Z]/;
            var reg3=/[~!@#$%^&*]/;

            //判断，如果三次都满足的话，此时肯定是具备共同的满足条件
            if(reg1.test(pwd)) pwdLevel++;
            if(reg2.test(pwd)) pwdLevel++;
            if(reg3.test(pwd)) pwdLevel++;

            //判断级别给页面添加颜色
            switch(pwdLevel){
                case 1:
                    var ele=$($('#pwd-level').find('div')[0]);
                    ele.css('backgroundColor','red');
                    break;
                case 2:
                    var ele=$($('#pwd-level').find('div')[1]);
                    ele.css('backgroundColor','yellow');
                    check1=true;
                    break;
                case 3:
                    var ele=$($('#pwd-level').find('div')[2]);
                    ele.css('backgroundColor','green');
                    check1=true;
                    break;
            }
        });
        //给邮箱添加事件
        $('#email').blur(function(){
            check2=false;
            var regex = /^[_a-zA-Z0-9_-_._-]+@([_a-zA-Z0-9_-]+\.)+[a-zA-Z]{2,3}$/;
            var email=$(this).val();

            //判断是否有值
            if(email.trim()===''){
                $('#email-check').html('请输入邮箱');
                $('#email-check').css('color','red');
                return;
            }
            if(regex.test(email)){
                check2=true;
                $('#email-check').html('可以注册');
                $('#email-check').css('color','green');
            }else{
                $('#email-check').html('邮箱不合法');
                $('#email-check').css('color','red');
            }
        });
        //给用户名添加输入事件
        $('#username').blur(function(){
            var username=$(this).val();
            if(username.length<6||username.length>12){
                return alert('用户名必须在6-12位之间');
            }
            //发送请求
            $.ajax({
                url:'/check-user-name',
                type:'post',
                data:{
                    username:username
                },
                dataType:'json',
                success:function(data){
                    if(data.code==='001'){
                        return alert(data.msg);

                    }else{
                        return alert(data.msg);
                    }
                }
            });
        });

        //异步提交数据
        $('#frm').on('submit',function(e){
            //阻止默认行为
            e.preventDefault();

            $.ajax({
                url:'/doRegister',
                type:'post',
                data:$('#frm').serialize(),
                dataType:'json',
                success:function(data){
                    if(data.code==='001'){//注册成功跳转到登录页
                        alert(data.msg);
                        window.location='/login';
                    }else{//失败就提示注册失败信息
                        alert(data.msg);
                    }
                }
            });
        });
    </script>
</body>

</html>
